<header>
    <div class="container nav-border">

        <nav class="navbar navbar-expand-xl navbar-light bg-white" aria-label="navbar Origen">
            <div class="container">
                <img class="nav-logo" src="/img/logo.svg" alt="Logo comidas naturales">
                <h1 class="titulo-nav">Origen</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsAromo" aria-controls="navbarsAromo" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarsAromo">                
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/comidas">COMIDAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/infusiones">INFUSIONES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacto">CONTACTO</a>
                        </li>
                        
                    </ul>
                </div>
        </div>
    </nav>
</div>
    
    <div class="container">
        <div class="row mt-5 d-flex align-items-center">

            <div class="col-6">
                <h2>Origen</h2>
                <p>Somos lo que comemos y en origen nos encargamos de darte las alternativas de comidas más sanas para estar en armonía con tu cuerpo.</p>
            </div>
            <div class="col-6">
                <img src="/img/main-dish.png" alt="Plato principal">
            </div>
        </div>

    </div>
</header>